body{
    position: relative;
    /* width: 1280px;
    height: 738px; */
    background: hsl(94, 46%, 57%);
}
.container{
    max-width: 100%;
    margin: 0 auto;
    width: 900px;
}
.banner{
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    
}
.content-left{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 10px;
    letter-spacing: 0.1em;

    color: #FFFFFF;

}
.content-right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px, 40px;
    /* align-items: center; */
    height: 160px;
    width: 400px;
}
.computer-score-btn, .your-score-btn{
    border: none;
    border-radius: 9px;
    width: 170px;
    height: 170px;
    background: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    /* text-align: center; */
    /* padding: 20px, 40px; */

}
.computer-score-btn h3, .your-score-btn h3{
    text-align: center;
    color: #656565;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
     
    margin: 0;
    
    letter-spacing: 0.1em; 
}
.computer-score-btn p, .your-score-btn p{
    text-align: center;
    color: #252525;
    font-weight: 700;
    font-size: 50px;
    
}
main{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    width: 470px;
    margin: 0 auto;
    padding-top: 30px;
    position: relative;
}
main ::after {
    background-image: url(bg-triangle.png);
    content:'' ;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
    z-index: -1;
}
/* styles to the circle buttons */
.btn-circle{
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
/* transformation to the circle buttons */
.btn-circle:focus{
    outline: none;
}
.btn-circle:active{
    transform: scale(0.95);
}
/* styles to the rules button */
#rules-btn{
    border: 2px solid #FFFFFF; 
    border-radius: 10px;
    background: none;
    position: absolute;
    left: 1350px;
    top: 630px;
    width: 100px;
    height: 40px;
    color: #FFFFFF;
}
/* transformation for rules button */
#rules-btn:focus{
    outline: none;
}
#rules-btn:active{
    transform: scale(0.95);
}
/* styles to the popup divison */
.popup{
    box-sizing: border-box;
    position: absolute;
    width: 27%;
    height: 45%;
    top: 43%;
    left: 900px;
    background: #004429;
    border: 5px solid #FFFFFF;
    border-radius: 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
    
    transform: translate(15%, 13%) scale(0.1);
    visibility:hidden; 
    transition: transform 0.4s, top 0.4s;
}
/* styles to remove button */
#remove-btn{
    background-color:red;
    border: 5px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    left: 370px;
    top:-20px;
}
/* transformation for remove button */
#remove-btn:focus{
    outline: none;
}
#remove-btn:active{
    transform: scale(0.95);
}
/* styles in the popup heading */
.popup h3{
    text-align: center;
}
/* style for the list of items in the popup divison */
.popup ul li{
    list-style: none; /* Remove default bullets */
    text-align: justify;
}
/* coloring bullets */
.popup ul li::before{
    content: "\25AA";
    color: #FFD600;
}
.open-popup{
    visibility: visible;
    /* top: 45%; */
    transform: translate(35%, 33%) scale(1);
}

/* frame 2 styles */
.frame2{
    display:none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    /* font styles in frame2 */
    font-family: 'Roboto';
    font-style: normal;

    color: #FFFFFF;
    padding-top: 30px;
}
/* font sizes for left and right content */
.left, .right{
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.1em;
}
/* font size for content in center */
.center{
    font-weight: 800;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 35px   
}
/* styles to play again button */
.play-again-btn{
    border: none;
    background: #FFFFFF;
    border-radius: 9px;
    width: 170px;
    height: 40px;
}
/* transformation for play again button */
.play-again-btn:focus{
    outline: none;
}
.play-again-btn:active{
    transform: scale(0.95);
}
/* styles to n ext button */
.nxt-btn{
    border: 2px solid #FFFFFF; 
    border-radius: 10px;
    background: none;
    position: absolute;
    left: 1215px;
    top: 630px;
    width: 100px;
    height: 40px;
    color: #FFFFFF;

}
/* transformation for next button */
.nxt-btn:focus{
    outline: none;
}
.nxt-btn:active{
    transform: scale(0.95);
}
.frame5{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1em;
    align-items: center;
    color: #FFFFFF;
}
.anima
.text h3{
    font-size: 81px;
    line-height: 1px;
}
.text span{
    font-size: 41px;
    line-height: 1px;
}